<script type="text/javascript">
    $(function () {
        function eventCalendar() {
            return $('#calendar').fullCalendar({});
        };

        function clearCalendar() {
            $('#calendar').html('');
        };

        $(document).on('turbolinks:load', function () {
            eventCalendar();
        });

        $(document).on('turbolinks:before-cache', clearCalendar);

        $('#calendar').fullCalendar({
            lang: 'ja',
            events: '/schedules/<%= @room.id %>.json',
            displayEventTime: true,
            displayEventEnd: {
                month: true,
                basicWeek: true,
                "default": true
            },
            timeFormat: "M/DD HH:mm",
        });
    });
</script>
<div class="row">
    <div class="col-12">
        <h2 class="d-inline-block mr-5 mb-5"><%= @room.name %></h2>
        <%= link_to "新規作成", new_schedule_path(id: @room.id), {class: "p-2 ml-5 text-white rounded bg-primary"} %></br>
    </div>
</div>
<div class="mb-3">
    <div id="calendar"></div>
</div>